.table-admin{
    width: 150%;
}

.table-admin td {
    color:white;
    border-top:0px!important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.181);
}

.table-admin th{
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    border-top: 0px!important;
    vertical-align: bottom;
    border-bottom: 6px solid rgba(255, 255, 255, 0.407);
    border-radius: 50%;

}



.table-admin .btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.table-admin .btn-primary {
    background-color: #007bff;
    color: #fff;
}

.table-admin .btn-danger {
    background-color: #dc3545;
    color: #fff;
}

