{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}



<div class="d-flex">

<div class="">
{% if is_granted('ROLE_ADMIN') %}
    <p>Bonjour {{ app.user.getEmail() }}, Mode Admin</p>
{% elseif is_granted('ROLE_CONNECT') %}
    <p>Bonjour {{ app.user.getEmail() }}, Mode User Connecté</p>
{% else %}
    <p>Bonjour Invité, Mode Non Connecté</p>
{% endif %}



</div>



</div>



   
{% endblock %}
