{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/vhosts/jkcprod.com/httpdocs/kleyr/src/Controller/DefaultController.php</code></li>
        <li>Your template at <code>/var/www/vhosts/jkcprod.com/httpdocs/kleyr/templates/default/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
