/* ============================================================================= /*
    📁 style.css ▶ 

    - 
    💻 BREGLER Thomas © 2024 
/* ============================================================================= */


/***********************************************************************************
                                🔧 ELEMENTS 🔧                     
************************************************************************************/

* {
    /* ✏ COLORS ✏ */
    --white: #FFFFFF;
    --black: #000000;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* ✏ MAIN FONT ✏ */
    font-family: 'Figtree', sans-serif;
}


/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */
/* ✒ ✒ ✒ ✒ ✒  ✒ ✒ TEXT ✒ ✒ ✒ ✒ ✒ ✒  */
/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */

h1{
    font-size:  150px;
    font-weight: 0;
    line-height: 0px;
    letter-spacing: 0px; 
    margin: 0;
}

h2{
    font-size:  0px;
    font-weight: 0;
    line-height: 0px;
    letter-spacing: 0px; 
    margin: 0;
}

h3{
    font-size:  0px;
    font-weight: 0;
    line-height: 0px;
    letter-spacing: 0px; 
    margin: 0;
}

h4{
    font-size:  0px;
    font-weight: 0;
    line-height: 0px;
    letter-spacing: 0px; 
    margin: 0;
}

p{
    font-size:  0px;
    font-weight: 0;
    line-height: 0px;
    letter-spacing: 0px; 
    margin: 0;
}


@media (max-width: 0px) { }


/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */
/* ✒ ✒ ✒ ✒ ✒ OTHERS ELEMENTS ✒ ✒ ✒ ✒ ✒  */
/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */



/***********************************************************************************
                                    🔍 NAVBAR 🔍                    
************************************************************************************/

/***********************************************************************************
                                    📃 PAGES 📃                    
************************************************************************************/

/***********************************************************************************
                                    🔗 FOOTER 🔗                   
************************************************************************************/
