/* ============================================================================= /*
    📁 style.css ▶ 

    - 
    💻 BREGLER Thomas © 2024 
/* ============================================================================= */


/***********************************************************************************
                                🔧 ELEMENTS 🔧                     
************************************************************************************/

* {
    /* ✏ COLORS ✏ */
    --white: #FFFFFF;
    --black: #000000;

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* ✏ MAIN FONT ✏ */
    font-family: 'Figtree', sans-serif;
}


/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */
/* ✒ ✒ ✒ ✒ ✒  ✒ ✒ TEXT ✒ ✒ ✒ ✒ ✒ ✒  */
/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */



@media (max-width: 0px) { }


/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */
/* ✒ ✒ ✒ ✒ ✒ OTHERS ELEMENTS ✒ ✒ ✒ ✒ ✒  */
/* 🔴 ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ ✒ 🔴 */


.rectangle-home {

    width: 100%;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    border: solid 3px var(--c-lighter);
    background-color: #dfdfdf46;
    margin-bottom: 35px;
}

.rectangle-home h3{
    font-weight: 800;
    color:#edf0f1;
}

