{% extends 'base.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
    <style>
    .wrapper{
        width: 145%;
    }
    </style>

    <div class="topbar">
        <h1 class="current"><b>SIRH - MNS</b> | <span>ÉDITER LE MESSAGE DE {{user.nom}}{{user.prenom}}</span> </h1>
        <nav>
            <a class="menu-item" href="{{ path('app_contact_index') }}"><span class="iconoir-arrow-email-forward mr-2"></span>Retour à la liste des messages</a>
        </nav>
    </div>
    <div class="wrapper">

    {{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
