{% extends 'base.html.twig' %}

{% block title %}Edit Deplacement{% endblock %}

{% block body %}
     <style>
    .wrapper{
        width: 145%;
    }
    </style>

    <div class="topbar">
        <h1 class="current"><b>SIRH - MNS</b> | <span>ÉDITER DÉPLACEMENT DE {{user.nom}} {{user.prenom}}</span> </h1>
        <nav>
            <a class="menu-item" href="{{ path('app_deplacement_index') }}"><span class="iconoir-arrow-email-forward mr-2"></span>Retour à la liste des frais de déplacement</a>
        </nav>
    </div>
    <div class="wrapper">

    {{ include('deplacement/_form.html.twig', {'button_label': 'Update'}) }}

   

   
{% endblock %}
