{% extends 'base.html.twig' %}

{% block title %}New Equipe{% endblock %}

{% block body %}
     <style>
    .wrapper{
        width: 145%;
    }
    </style>

    <div class="topbar">
        <h1 class="current"><b>SIRH - MNS</b> | <span>CRÉER UNE ÉQUIPE</span> </h1>
        <nav>
            <a class="menu-item" href="{{ path('app_equipe_index') }}"><span class="iconoir-arrow-email-forward mr-2"></span>Retour à la liste des équipes</a>
        </nav>
    </div>
    <div class="wrapper">

    {{ include('equipe/_form.html.twig') }}

{% endblock %}
